#debug {
    font-family: monospace;
    position:absolute;
    bottom: 0;
    left: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
}